<!DOCTYPE html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.autoResizeTextAreaQ-0.1.js"></script>
<script type="text/javascript" src="/js/blockdiag.js"></script>
<title>nwdiag2img</title>
</head>
<body>

<h2>Diagram Source</h2>

<textarea id="diagram" cols="120" rows="10" style="font-family: monospace;">
{{ plain }}
</textarea>

<br />

<form id="json" method="post" action="/nw/" onsubmit="return genURL()">
  <input id="jsonid" type="hidden" name="myvalue" />
  <input type="submit" value="Regenenerate image" />
</form>

<h2>Image</h2>

Permalink of the image is <a href="/nw/{{ diag }}.png">here</a>

<p>

<img src="/block/{{ diag }}.png" alt="diagram image" />

</p>

<h2>Site description</h2>

<ul>
<li> This site is inspired by <a href="http://interactive.blockdiag.com/nwdiag/">Interactive shell for *diag</a> and aimed to generate permalink of the PNG image of a diagram, which can be put on wiki page and web presentation directly
<li> Any images are not stored in the server except of memory cache
<li> The source code is available at <a href="https://github.com/sumikawa/diag2img">github</a>
</ul>

</body>
</html>
