<!DOCTYPE html>
<head>
<meta http-equiv="content-type" content="text/html; charset=us-ascii" />
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.autoResizeTextAreaQ-0.1.js"></script>
<script type="text/javascript" src="/js/blockdiag.js"></script>
<title>nwdiag2img</title>
</head>
<body>

<h2>Source</h2>

<textarea id="diagram" cols="120" rows="10" style="font-family: monospace;">
{{ plain }}
</textarea>

<br />

<form id="json" method="post" action="/nw/json/" onsubmit="return genURL()">
  <input id="jsonid" type="hidden" name="myvalue"></input>
  <input type="submit" value="regenenerate">
</form>

<h2>Image</h2>

permalink of the image is <a href="/nw/{{ diag }}.png">here</a>

<p>

<img src="/nw/{{ diag }}.png"></a>

</p>

</body>
</html>
